.catalog__container {
    background-color: aqua;
    background-repeat: no-repeats;
    background-position: 0 0;
    padding-bottom: 1px;
}

.catalog__title {
    padding-top: 220px;
    padding-left: 132px;
    padding-right: 188px;
    padding-bottom: 110px;
}

