<<<<<<< HEAD
*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
=======


body {
    color: #515076;
    font-family: Arial, sans-serif;
>>>>>>> 10f6560b919fc9e4019d0c1dac72ef9fce4230dd
}
