.title {
<<<<<<< HEAD
    font-size: 70px;
    line-height: 78px;
    font-weight: 400px;
    text-align: center;
    color: #515076;
    margin: 0px;
}
=======
    color: #515076;
    font-size: 70px;
    line-height: 78px;
    text-align: center;
    margin: 0;
}
>>>>>>> 10f6560b919fc9e4019d0c1dac72ef9fce4230dd
